
<footer>
    <p style="font-family:courier;">&copy; Karishma Baghthariya (301235852)<br> COMP229 Web Application Development (SEC. 004)</p>
        <p style="font-family:courier;">Contact :- 9054627389</p>
</footer>
<!--Scripts-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>  
</body>
</html>