<% include partials/header.ejs %>
 
<body style="background-color: rgb(228, 170, 218);">
  
  <div class="container p-3 my-3 border" style="box-shadow: 1px 1px 5px 3px">
    <h3> <Welcome></h3>
    <h3><p><b><center>Welcome to <%= title %>!</center></b></h3></p>
    
    <center><p style="font-family:courier;">"My mission is to work on my technical skills and later in  a project team"

    </p></center>

  

  </br>
    <a href="/" class="btn btn-primary">Home!</a>
    <a href="/about" class="btn btn-primary">About me!</a>
    <a href="/projects" class="btn btn-primary">Projects!</a>
    <a href="/services" class="btn btn-primary">Services!</a>
    <a href="/contact" class="btn btn-primary">Contact!</a>

    

  </div>

  
</div>
<hr>
<% include partials/footer.ejs %></body>